<div *ngIf="showTablePlanBool">
  <div class="col-xs-12 printTwo">
    <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
      <div *ngIf="showTablesPanoramaRestaurant1">
        <div *ngFor="let tablePanoramaRestaurant1 of tablesPanoramaRestaurant1; let j = index;">
          <div dropdownToggle type="button" class="t{{tablePanoramaRestaurant1.number}} table-item" [ngStyle]="{'top': tablePanoramaRestaurant1.topValue + 'px', 'left': tablePanoramaRestaurant1.leftValue + 'px', 'background-color': + tablePanoramaRestaurant1.bgColor, 'height': + tablePanoramaRestaurant1.height + 'px', 'width': + tablePanoramaRestaurant1.width + 'px', 'border': + tablePanoramaRestaurant1.border, 'transform':  + tablePanoramaRestaurant1.transformValue}" [style.border]="getStyle(tablesPanoramaRestaurant1[j].groups)" dropdown>
            <div *ngIf="tablesPanoramaRestaurant1[j] !== tablesPanoramaRestaurant1[j+1]">
              <p><b>{{tablePanoramaRestaurant1.number}} <br>{{erwPanoramaRestaurant1[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tablePanoramaRestaurant1, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tablePanoramaRestaurant1, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tablePanoramaRestaurant1.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.nameValue">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.bemerkungValue)"><b>Name:</b> {{group.nameValue}}<br><b>Anrede:</b> {{group.anredeValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br></div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTablesFeuerstein">
        <div *ngFor="let tableFeuerstein of tablesFeuerstein; let j = index;">
          <div dropdownToggle type="button" class="t{{tableFeuerstein.number}} table-item" [ngStyle]="{'top': tableFeuerstein.topValue + 'px', 'left': tableFeuerstein.leftValue + 'px', 'background-color': + tableFeuerstein.bgColor, 'height': + tableFeuerstein.height + 'px', 'width': + tableFeuerstein.width + 'px', 'border': + tableFeuerstein.border, 'transform':  + tableFeuerstein.transformValue}" [style.border]="getStyle(tablesFeuerstein[j].groups)" dropdown>
            <div *ngIf="tablesFeuerstein[j] !== tablesFeuerstein[j+1]">
              <p><b>{{tableFeuerstein.number}} <br>{{erwFeuerstein[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableFeuerstein, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableFeuerstein, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableFeuerstein.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.nameValue">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.bemerkungValue)"><b>Name:</b> {{group.nameValue}}<br><b>Anrede:</b> {{group.anredeValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br></div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTablesPanoramaRestaurant3">
        <div *ngFor="let tablePanoramaRestaurant3 of tablesPanoramaRestaurant3; let j = index;">
          <div dropdownToggle type="button" class="t{{tablePanoramaRestaurant3.number}} table-item" [ngStyle]="{'top': tablePanoramaRestaurant3.topValue + 'px', 'left': tablePanoramaRestaurant3.leftValue + 'px', 'background-color': + tablePanoramaRestaurant3.bgColor, 'height': + tablePanoramaRestaurant3.height + 'px', 'width': + tablePanoramaRestaurant3.width + 'px', 'border': + tablePanoramaRestaurant3.border, 'transform':  + tablePanoramaRestaurant3.transformValue}" [style.border]="getStyle(tablesPanoramaRestaurant3[j].groups)" dropdown>
            <div *ngIf="tablesPanoramaRestaurant3[j] !== tablesPanoramaRestaurant3[j+1]">
              <p><b>{{tablePanoramaRestaurant3.number}} <br>{{erwPanoramaRestaurant3[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tablePanoramaRestaurant3, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tablePanoramaRestaurant3, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tablePanoramaRestaurant3.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.nameValue">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.bemerkungValue)"><b>Name:</b> {{group.nameValue}}<br><b>Anrede:</b> {{group.anredeValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br></div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTablesPanoramaRestaurant2">
        <div *ngFor="let tablePanoramaRestaurant2 of tablesPanoramaRestaurant2; let j = index;">
          <div dropdownToggle type="button" class="t{{tablePanoramaRestaurant2.number}} table-item" [ngStyle]="{'top': tablePanoramaRestaurant2.topValue + 'px', 'left': tablePanoramaRestaurant2.leftValue + 'px', 'background-color': + tablePanoramaRestaurant2.bgColor, 'height': + tablePanoramaRestaurant2.height + 'px', 'width': + tablePanoramaRestaurant2.width + 'px', 'border': + tablePanoramaRestaurant2.border, 'transform':  + tablePanoramaRestaurant2.transformValue}" [style.border]="getStyle(tablesPanoramaRestaurant2[j].groups)" dropdown>
            <div *ngIf="tablesPanoramaRestaurant2[j] !== tablesPanoramaRestaurant2[j+1]">
              <p><b>{{tablePanoramaRestaurant2.number}} <br>{{erwPanoramaRestaurant2[j]}}
              </b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tablePanoramaRestaurant2, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tablePanoramaRestaurant2, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tablePanoramaRestaurant2.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.nameValue">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.bemerkungValue)"><b>Name:</b> {{group.nameValue}}<br><b>Anrede:</b> {{group.anredeValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br></div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTablesIselerRestaurant">
        <div *ngFor="let tableIselerRestaurant of tablesIselerRestaurant; let j = index;">
          <div dropdownToggle type="button" class="t{{tableIselerRestaurant.number}} table-item" [ngStyle]="{'top': tableIselerRestaurant.topValue + 'px', 'left': tableIselerRestaurant.leftValue + 'px', 'background-color': + tableIselerRestaurant.bgColor, 'height': + tableIselerRestaurant.height + 'px', 'width': + tableIselerRestaurant.width + 'px', 'border': + tableIselerRestaurant.border, 'transform':  + tableIselerRestaurant.transformValue}" [style.border]="getStyle(tablesIselerRestaurant[j].groups)" dropdown>
            <div *ngIf="tablesIselerRestaurant[j] !== tablesIselerRestaurant[j+1]">
              <p><b>{{tableIselerRestaurant.number}} <br>{{erwIselerRestaurant[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableIselerRestaurant, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableIselerRestaurant, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableIselerRestaurant.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.nameValue">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.bemerkungValue)"><b>Name:</b> {{group.nameValue}}<br><b>Anrede:</b> {{group.anredeValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br></div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTablesAlle">
        <br>
        <br>
        <br>
        <h1 style="color: white; margin-top: 200px">Perfekt um eine Suche zu starten ;-)</h1>
      </div>
    </div>
  </div>
</div>
